boto3==1.34.45
botocore==1.34.45
colorama==0.4.4
langchain_community==0.2.7
numpy==2.0.0
opensearch_py==2.6.0
pypdf==4.3.0
Requests==2.32.3
requests_aws4auth==1.2.3
stopit==1.1.2
streamlit==1.33.0
tiktoken==0.5.2
