boto3
aws-cdk-lib
botocore
colorama
langchain_aws
langchain_community
langchain_core
numpy
opensearch_py
pypdf
Requests
requests_aws4auth
stopit
streamlit
tiktoken
opensearch-py
requests-aws4auth
tiktoken
fuzzywuzzy
PyMuPDF
python-magic
msoffcrypto-tool
openpyxl
textractor
amazon-textract-textractor
inflect
